.gitignore
.DS_Store
.project
.tmp_*
node_modules
dist/*

# Jetbrains and JIRA
.idea/
.idea_modules/
*.ipr
*.iml
*.iws
atlassian-ide-plugin.xml

# OSX related
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spolight-V100
.Trashes

